github "themegatb/YoutubeKit" "master"

github "ReactiveCocoa/ReactiveCocoa" "45d19e1920083c8b5a966b0a3dfe68c0d584e59b"
github "ReactiveCocoa/ReactiveSwift" ~> 6.0
github "Alamofire/Alamofire" ~> 4.8.2
github "SnapKit/SnapKit" ~> 5.0

github "https://github.com/fabio914/GoogleSignIn-iOS" ~> 4.2

github "onevcat/Kingfisher" ~> 5.0
github "LeonardoCardoso/NFDownloadButton" ~> 0.0.6
github "JohnEstropia/CoreStore" ~> 6.0

github "Quick/Nimble" ~> 8.0
github "Quick/Quick" ~> 2.1
