binary "https://code.videolan.org/videolan/VLCKit/raw/master/Packaging/MobileVLCKit.json" ~> 3.1.5
github "themegatb/YoutubeKit" "master"
github "https://github.com/fabio914/GoogleSignIn-iOS" ~> 4.2
github "onevcat/Kingfisher" ~> 5.0
github "ReactiveCocoa/ReactiveSwift" ~> 4.0
github "LeonardoCardoso/NFDownloadButton" ~> 0.0.6
github "Alamofire/Alamofire" "4.8.0"
github "JohnEstropia/CoreStore" >= 5.0.0
github "ReactiveCocoa/ReactiveCocoa" >= 8.0.2
github "SnapKit/SnapKit" ~> 4.0.0
