<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>app_version</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Quality</string>
			<key>FooterText</key>
			<string>Note that HDR requires HFR to be enabled to work properly. Cellular detection does not take Personal Hotspots into account.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Default quality</string>
			<key>Key</key>
			<string>quality_default</string>
			<key>DefaultValue</key>
			<string>hd1080</string>
			<key>Titles</key>
			<array>
				<string>1080p</string>
				<string>720p</string>
				<string>480p</string>
				<string>360p</string>
				<string>240p</string>
				<string>144p</string>
			</array>
			<key>Values</key>
			<array>
				<string>hd1080</string>
				<string>hd720</string>
				<string>large</string>
				<string>medium</string>
				<string>small</string>
				<string>tiny</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Cellular quality</string>
			<key>Key</key>
			<string>quality_mobile</string>
			<key>DefaultValue</key>
			<string>medium</string>
			<key>Titles</key>
			<array>
				<string>1080p</string>
				<string>720p</string>
				<string>480p</string>
				<string>360p</string>
				<string>240p</string>
				<string>144p</string>
			</array>
			<key>Values</key>
			<array>
				<string>hd1080</string>
				<string>hd720</string>
				<string>large</string>
				<string>medium</string>
				<string>small</string>
				<string>tiny</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>High frame rate</string>
			<key>Key</key>
			<string>quality_highFps</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>High dynamic range</string>
			<key>Key</key>
			<string>quality_hdr</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Background playback</string>
			<key>Key</key>
			<string>playback_background</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enter PiP automatically</string>
			<key>Key</key>
			<string>background_pip</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
